.mainHeader{
    height: auto !important;
    // background-color: red !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Crect fill='%23000000' width='800' height='800'/%3E%3Cg fill-opacity='1'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  border-radius: 0px 0px 50px 50px;
}

ion-modal {
  --height: auto;
}

ion-button .modal {
 --border-radius: 8px;
}

ion-img {
    --border-radius: 20px;
}

.custom-modal::part(content) {
//   border: 2px solid #007bff;
  border-radius: 20px 20px 0px 0px;
//   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ion-padding {
    // --padding-start: var(--ion-padding, 16px);
    // --padding-end: var(--ion-padding, 16px);
    // --padding-top: var(--ion-padding, 16px);
    // --padding-bottom: var(--ion-padding, 16px);
     -webkit-padding-start: var(--ion-padding, 0px); 
     padding-inline-start: var(--ion-padding, 0px); 
    -webkit-padding-end: var(--ion-padding, 0px); 
     padding-inline-end: var(--ion-padding, 0px); 
     padding-top: var(--ion-padding, 0px); 
     padding-bottom: var(--ion-padding, 0px);
}

::ng-deep .button-native{
  box-shadow:  0px 0px 10px red !important;
}

ion-button.shadow-button {
  --box-shadow: 2px 2px 8px var(--ion-color, black);

}

.border-date{
  // border: 1px solid gray;
  margin-top: 4px;
  border-radius: 10px;
}

.event-title{
  // margin-top: 4px
}

.border-description{
  border: 1px solid gray;
  border-radius: 15px;
}
