<ion-header class="ion-no-border bg-white pt-2 address-list-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="fw-bold text-dark">Saved Addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="address-list-content">
  <app-saved-addresses
    [routeSource]="routeSource"
    [autoNavigateBackOnSelect]="routeSource !== 'profile'">
  </app-saved-addresses>
</ion-content>
