:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.address-list-header {
  background: #ffffff;
  border-bottom: 1px solid #f1f5f9;
}

.address-list-content {
  --background: #f8fafc;
}
