/* Floating Cart Footer */
.cart-footer {
  padding: 10px 15px 20px;
  background: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none; /* Allows clicking content behind empty areas */

  .cart-bar {
    pointer-events: auto;
    background: #3d0374; /* Deep Purple */
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    // box-shadow: 0 10px 20px rgba(61, 3, 116, 0.3);

    .cart-info {
      display: flex;
      flex-direction: column;
      line-height: 1.2;
      small { font-size: 10px; font-weight: 700; opacity: 0.8; letter-spacing: 0.5px;}
      h6 { margin: 0; font-size: 16px; font-weight: 700; }
      .tax { font-size: 10px; font-weight: 400; opacity: 0.7; }
    }

    .view-cart-btn {
      font-weight: 700;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.footer-md {
     -webkit-box-shadow:none;
     box-shadow: none;
}