<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    
    <div class="location-header">
      <div class="loc-icon">
        <ion-icon name="location-outline"></ion-icon>
      </div>
      <div class="loc-details">
        <small>DELIVER TO</small>
        <div class="selector-row">
          <ion-select [(ngModel)]="selectedCity" interface="popover" class="city-select">
            <ion-select-option *ngFor="let city of cities" [value]="city">{{city}}</ion-select-option>
          </ion-select>
          </div>
      </div>
      <div class="profile-icon">
        <img src="https://i.pravatar.cc/100?img=3" alt="Profile">
      </div>
    </div>

    <div class="search-container">
      <ion-icon name="search-outline"></ion-icon>
      <input type="text" placeholder="Search 'Biryani' or 'Pizza'..." />
      <div class="search-divider"></div>
      <ion-icon name="mic-outline" class="mic-icon"></ion-icon>
    </div>

  </ion-toolbar>

  <div class="filter-row">
    <div class="chip filter-btn">
      <ion-icon name="options-outline"></ion-icon> Filter
    </div>
    <div class="chip" *ngFor="let f of filters">
      {{f}} <ion-icon name="chevron-down-outline" *ngIf="f === 'Sort by'"></ion-icon>
    </div>
  </div>
</ion-header>

<ion-content class="bg-light">
  
  <div class="list-header">
    <h3>{{restaurants.length}} restaurants to explore</h3>
    <small>Based on your preferences</small>
  </div>

  <div class="card-list">
    <div class="rest-card" *ngFor="let item of restaurants" (click)="gotodetails()">
      
      <div class="img-wrapper">
        <img [src]="item.image" alt="food" />
        
        <div class="top-overlays">
          <span class="ad-badge" *ngIf="item.isAd">AD</span>
          <div class="spacer"></div>
          <div class="fav-btn" (click)="item.isFav = !item.isFav">
            <ion-icon [name]="item.isFav ? 'heart' : 'heart-outline'" [class.active]="item.isFav"></ion-icon>
          </div>
        </div>

        <div class="curve-divider"></div>
      </div>

      <div class="info-wrapper">
        <div class="header-row">
          <h2 class="name">{{item.name}}</h2>
          <div class="rating-badge">
            {{item.rating}} <ion-icon name="star"></ion-icon>
          </div>
        </div>

        <div class="details-row">
          <p>{{item.location}}, {{item.distance}}</p>
          <p>{{item.tags}} • {{item.price_for_two}}</p>
        </div>
      </div>

      <div class="offer-footer" *ngIf="item.offers.length > 0">
        <div class="offer-left">
          <img src="assets/icon/discount-fire.png" style="width:16px; margin-right:6px;" *ngIf="false"> <ion-icon name="flame" style="color: #ff6d00; margin-right: 6px;"></ion-icon>
          <span class="offer-text">{{item.offers[0].text}}</span>
        </div>
        <div class="offer-right" *ngIf="item.offers.length > 1">
          +{{item.offers.length - 1}} offers
        </div>
      </div>

    </div>
  </div>

  <div style="height: 50px;"></div>
</ion-content>