<!-- <div class="d-flex justify-content-center align-items-center py-5">
  <img style="height: 150px" src="assets/pintu - seal.png" alt="">
</div> -->

<div class="footer-container d-flex justify-content-center align-items-center flex-column py-4" style="line-height: 44px;">
  <div class="luckiest-guy-regular footer-text" style="font-size: 80px;"> Pintu</div>
 <div>
   <span class="luckiest-guy-regular footer-text">Made with</span>
  <span class="luckiest-guy-regular footer-text text-danger">&nbsp; &#10084; &nbsp; </span>
  <span class="luckiest-guy-regular footer-text">for Athani</span>
 </div>
</div>


