<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    
    <ion-tab-button tab="support">
      <ion-icon name="help-circle" class="icon-active"></ion-icon>
      <ion-icon name="help-circle-outline" class="icon-inactive"></ion-icon>
      <ion-label>Support</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" (click)="goToHome()">
      <ion-icon name="home" class="icon-active"></ion-icon>
      <ion-icon name="home-outline" class="icon-inactive"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="time" class="icon-active"></ion-icon>
      <ion-icon name="time-outline" class="icon-inactive"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>