<ion-header>
  <ion-toolbar class="pt-4">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    @if (!isLoading) {
    <div class="profile-container">
    @if (profileData.profile_image == '') {
      <ion-avatar class="profile-avatar">
        <!-- <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" /> -->
      <ion-title class="avatar">{{nameShorthand() | uppercase}}</ion-title>
    </ion-avatar>
    } @else {
      <ion-avatar class="profile-avatar">
      <img alt="Avatar" [src]="profileData.profile_image"/>
      <!-- <ion-title class="avatar">{{nameShorthand() | uppercase}}</ion-title> -->    </ion-avatar>
    }
    <ion-label class="profile-name">{{profileData.first_name | uppercase}}</ion-label>
    <ion-label>{{profileData.phone}} &bull; Since {{profileData.date_joined | date: 'dd-MMM-YYYY'}}</ion-label>
  </div>
  <hr>
  <div class="my-3 mx-3 box">
    <ion-item button detail="true" style="border-radius: 20px 20px 0px 0px;" (click)="openDetails('Personal Details')" lines="none">
      <ion-label>
        <h3 class="fs-6"><i class="bi bi-person-circle bi-icon me-2"></i>Personal Details</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="openDetails('Saved Addresses')" lines="none">
      <ion-label>
        <h3 class="fs-6"><i class="bi bi-geo-alt bi-icon me-2"></i>Saved Addresses</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="openDetails('Favourites')" lines="none">
      <ion-label>
        <h3 class="fs-6"><i class="bi bi-heart bi-icon me-2"></i>Favourites</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="openDetails('Languages')" lines="none">
      <ion-label>
        <h3 class="fs-6"><i class="bi bi-translate bi-icon me-2"></i>Languages</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="openDetails('Preferences')" lines="none">
      <ion-label>
        <h3 class="fs-6"><i class="bi bi-gear me-2 bi-icon"></i>Preferences</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="openDetails('suggestion')" lines="none">
      <ion-label>
        <h3 class="fs-6"><i class="bi bi-lightbulb me-2 bi-icon"></i>Suggest a Product/Service</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="openDetails('About OneApp')" lines="none">
      <ion-label>
        <h3 class="fs-6"><i class="bi bi-info-circle me-2"></i>About OneApp</h3>
      </ion-label>
    </ion-item>
    <hr style="margin: 0px !important">
    <ion-item button detail="false" style="border-radius: 0px 0px 20px 20px" lines="none">
      <ion-label>
        <h3 class="text-danger text-center fs-6" (click)="logOut()"><i class="bi bi-box-arrow-right me-2"></i>Logout</h3>
      </ion-label>
    </ion-item>
  </div>
  } @else if (isLoading) {
    <div class="d-flex justify-content-center align-items-center h-100">
        <ion-spinner  name="crescent"></ion-spinner>
      </div>
  } @else if (showRetry) {
    <div class="d-flex justify-content-center align-items-center h-100">
        <button (click)="retry()">retry</button>
      </div>

  }
  </section>
</ion-content>

