<ion-content [fullscreen]="true">

@if(!isAddressSelected){

<section>

<!-- TOP BAR -->
<div class="topbar bg-white position-sticky pt-4">

  <ion-title class="title-row">
    <div class="back-row" (click)="goBack()">
      <svg class="me-2" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
        <path d="M400-240 160-480l240-240 56 58-142 142h486v80H314l142 142-56 58Z"/>
      </svg>
      {{selectedInput}}
    </div>
  </ion-title>

  <!-- INPUTS -->
  <div class="inputs-wrapper">

    <!-- PICKUP -->
    <div class="input-row">
      <div class="dot green"></div>

      <input class="location-input"
        [(ngModel)]="pickup"
        (input)="onInputChange('pickup')"
        placeholder="Pickup"
        (focus)="selectedInput = 'Pickup'"
        type="text">

      @if(pickup != ''){
        <div class="clear-btn" (click)="pickup = ''">
          ✕
        </div>
      }
    </div>

    <div class="line"></div>

    <!-- DROP -->
    <div class="input-row">
      <div class="dot orange"></div>

      <input class="location-input"
        #dropInput
        [(ngModel)]="drop"
        (input)="onInputChange('drop')"
        placeholder="Drop"
        (focus)="selectedInput = 'Drop'"
        type="text">

      @if(drop != ''){
        <div class="clear-btn" (click)="drop = ''">
          ✕
        </div>
      }
    </div>

    <!-- MAP SELECT -->
    <button class="map-btn">
      <small>
        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px">
          <path d="M460-420h40v-120h120v-40H500v-120h-40v120H340v40h120v120Z"/>
        </svg>
        Select on map
      </small>
    </button>

  </div>
</div>
<!-- TOP BAR END -->

<!-- RESULTS -->
@if (filteredPredictions.length != 0 || filteredPredictionsOut.length != 0) {

@if(filteredPredictions.length > 0){
  <ion-title class="list-title">Local</ion-title>
}

@for(item of filteredPredictions; track $index){
  <div class="result-card" (click)="setPickupDropbyHistory(item)">
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px">
        <path d="M478.46-160q-121.84 0-212.42-79.58Z"/>
      </svg>
    </div>
    <div class="text">
      <b>{{item.name}}</b>
      <small>{{item.formatted_address}}</small>
    </div>
  </div>
}

@if(filteredPredictionsOut.length > 0){
  <ion-title class="list-title">Out Station</ion-title>
}

@for(item of filteredPredictionsOut; track $index){
  <div class="result-card" (click)="setPickupDropbyHistory(item)">
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px">
        <path d="M478.46-160q-121.84 0-212.42-79.58Z"/>
      </svg>
    </div>
    <div class="text">
      <b>{{item.name}}</b>
      <small>{{item.formatted_address}}</small>
    </div>
  </div>
}

} @else {

@for(item of userHistory; track $index){
  <div class="result-card" (click)="setPickupDropbyHistory(item)">
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px">
        <path d="M478.46-160q-121.84 0-212.42-79.58Z"/>
      </svg>
    </div>
    <div class="text">
      <b>{{item.name}}</b>
      <small>{{item.formatted_address}}</small>
    </div>
  </div>
}

}

</section>

} @else {

<section>
  <app-ride-selection></app-ride-selection>
</section>

}

</ion-content>
