<div class="product-card" (click)="onCardClick()">
        
  <div class="img-wrapper" [style.background]="getRandomColor()">
    <img [src]="product.img" style="width: 100%; height: 100%; object-fit: cover;border-radius: 15px 15px 0 0;" />
    <span class="discount" *ngIf="product.discount > 0">{{product.discount}}% OFF</span>
  </div>

  <div class="p-details px-2 pb-2">
    <!-- <div class="time-tag">
      <ion-icon name="time-outline"></ion-icon> {{product.time}}
    </div> -->
    
    <h5>{{product.name}}</h5>
    <small>{{product.weight}}</small>
    
    <div class="price-row">
      @if (product.stock > 0) {
        <div class="prices">
          <span class="current">₹{{product.price}}</span>
          <span class="original" *ngIf="product.discount > 0">₹{{product.originalPrice}}</span>
        </div>
      }

      <button class="add-btn" 
              *ngIf="product.stock === 0" 
              disabled
              style="opacity: 0.7; background-color: #dcdcdc; color: #555; border: none;">
        OUT OF STOCK
      </button>

      <button class="add-btn" 
              *ngIf="product.stock !== 0 && qty === 0" 
              (click)="onIncrease($event)">
        ADD
      </button>

      <div class="qty-counter" *ngIf="product.stock !== 0 && qty > 0">
        <div class="minus" (click)="onDecrease($event)">-</div>
        <div class="count">{{ qty }}</div>
        <div class="plus" (click)="onIncrease($event)">+</div>
      </div>

    </div>
  </div>

</div>