.body{
    
}

ion-spinner{
    width: 10px !important; 
    height: 10px !important;
}

.resend:hover {
    text-decoration: underline;
}

ion-item.custom-input {
    --border: 1px solid black;
  --border-radius: 20px;
  --background: white;
  --padding-start: 12px;
  --inner-padding-end: 12px;
  --min-height: 50px;
  --highlight-color-focused: #3880ff;
  --border-color: transparent;
  margin-bottom: 16px;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.849);
  border-radius: 4px;
  border: 1px solid black;
}

ion-item.custom-input ion-input {
  font-size: 16px;
  font-weight: 500;
  padding-left: 4px;
  margin-left: 10px;
}

ion-item.custom-input.otp-input ion-input {
  letter-spacing: 6px;
  text-align: center;
}


