<ion-app>
  <!-- @if (isOnline) { -->
    <ion-router-outlet></ion-router-outlet>
    
    
  <!-- } @else {
    <ion-content>
      <div class="no-internet h-100 d-flex flex-column justify-content-center align-items-center">
        <img (click)="onRefreshClick()" class="p-0" style="width: 150px" src="../assets/icons/wired-flat-11-link-unlink-hover-bounce.gif" alt="">
        <p class="p-0"><strong>ಸ್ವಲ್ಪ ನೆಟ್ವರ್ಕ್ ಚೆಕ್ ಮಾಡ್ಕೋರಿ ಬರ್ತತಿ!</strong></p>
    </div>
    </ion-content>
  } -->
</ion-app>
