@if (!isLoading) {
  @if (!isOrderPlaced) {
  <ion-header>
  <ion-toolbar class="pt-4">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mx-2">
    <div class=" p-2 mt-2 text-center" style="border-radius: 10px; background-color: rgba(145, 241, 193, 0.733)">
        Please enter all your details to proceed booking
    </div>
    <!-- order details -->
     <ion-card-subtitle class="ms-2 mt-2"> Order Details</ion-card-subtitle>
    <div class="orderDetails border mt-1 p-2 d-flex justify-content-between align-items-center" style="border-radius: 15px">
        <div>
          {{order.data.title | titlecase}}
        </div>
        <!-- <div class="d-flex align-items-center">
          <ion-button fill="outline" color="dark" shape="round" (click)="count('-')"><span class="fs-4">-</span></ion-button>
          <span class="mx-2">{{ticketCount}}</span>
          <ion-button fill="outline" color="dark" shape="round" (click)="count('+')"><span class="fs-4">+</span></ion-button>
        </div> -->
        <div class="quantity-button" style="right: 5px;">
    <div class="d-flex align-items-center justify-content-center">
      <span class="bttn px-2" (click)="count('-')">&#8722;</span>
      <span class="bttn px-2">{{ticketCount}}</span>
      <span class="bttn px-2" (click)="count('+')">&#43;</span>
    </div>
  </div>
    </div>

    <!-- customer details  -->
     <ion-card-subtitle class="ms-2 mt-2"> Personal Details</ion-card-subtitle>
       
          <ion-item class="addressField mt-2" lines="none">
    <ion-input placeholder="Full Name" [(ngModel)]="customerName" [value]="customerName"></ion-input>
  </ion-item>
          <ion-item class="addressField mt-2" lines="none">
    <ion-input placeholder="Phone" [(ngModel)]="mobileNumber" [maxlength]="10" [value]="mobileNumber"></ion-input>
  </ion-item>
          <ion-item class="addressField mt-2" lines="none">
    <ion-input placeholder="Email" [(ngModel)]="email" [value]="email"></ion-input>
  </ion-item>
    
    <!-- price breakup  -->
          <ion-card-subtitle class="ms-2 mt-2"> Price breakup</ion-card-subtitle>
     <div class="border mt-2" style="border-radius: 15px">
      <div class="price-breakup mt-1 p-2 d-flex justify-content-between align-items-center">   
          <div>Base ticket price x {{ticketCount}}</div>
          <div>&#8377;{{price}}</div>
     </div>
     <div class="price-breakup px-2 pb-2 d-flex justify-content-between align-items-center">   
          <div>Platform charges</div>
          <div>&#8377;{{charges | number:'1.2-2'}}</div>
     </div>
     <hr style="border-style: dashed">
     <div class="price-breakup px-2 pb-2 d-flex justify-content-between align-items-center">   
          <div><strong>Total</strong></div>
          <div><strong>&#8377;{{finalCost}}</strong></div>
     </div>
     </div>

     <div style="height: 300px;"></div>
      
  </div>

  <div class="w-100 px-2 d-flex align-items-center justify-content-between position-fixed bottom-0" style="background-color: var(--ion-color-light);">
    <h3 class="m-0"><strong class="ms-3">&#8377;{{finalCost}}</strong></h3>
    <ion-button color="dark" class="w-75 ion-padding" slot="end" [disabled]="
    !customerName || 
    !mobileNumber || 
    mobileNumber.length !== 10 || 
    !isValidEmail(email)
  " (click)="payWithRazorpay()">
PAY NOW
    </ion-button>
  </div>
</ion-content>

} @else {
  <ion-content>
    <div class="h-75 d-flex flex-column justify-content-center align-items-center">
      <!-- <img class="image" src="../../../assets/gif/system-solid-31-check-in-check.gif" alt=""> -->
      <svg xmlns="http://www.w3.org/2000/svg" height="80px" viewBox="0 -960 960 960" width="80px" fill="#0dc52b"><path d="m421-298 283-283-46-45-237 237-120-120-45 45 165 166Zm59 218q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Z"/></svg>
      <div>Order Placed Successfully!</div>
      <ion-button  fill="outline" size="small" color="dark" (click)="trackOrder()">
        Track order
      </ion-button>

  </div>
  </ion-content>
}
} @else {
 <div class="d-flex justify-content-center align-items-center h-100" style="background-color: rgb(255, 255, 255)">
        <ion-spinner  name="crescent"></ion-spinner>
      </div>
}