@if(!isloading){
  <ion-header>
  <ion-toolbar class="pt-4">
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-refresher slot="fixed" class="my-refresher mt-5" color="dark" (ionRefresh)="getHistory()"
   pullingIcon="arrow-dropdown" refreshingSpinner="crescent">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<!-- <ion-content> -->
  @if (history.length) {
    <section>
      <div class="d-flex align-items-center mt-2 mx-3">
        <!-- Horizontally scrollable chips -->
        <div class="chip-scroll-container">
  @for (item of category; track $index) {
    <ion-chip class="chip-item" [outline]="true" (click)="onCategoryChange($event)">{{item}}</ion-chip>
  }
</div>
        <!-- Funnel icon -->
        <div class="ms-auto" style="border-radius: 20px">
          <!-- <i class="bi bi-funnel-fill"></i> -->
          <!-- <ion-list lines="none">

            <ion-item >
              <ion-select
                interface="popover"
                toggleIcon="funnel"
                color="dark"
                expandedIcon="funnel-outline"
                aria-label="fruit"
                placeholder="All"
                (ionChange)="onCategoryChange($event)"
              >
              @for (item of category; track $index) {
              <ion-select-option [value]="item">{{item | uppercase}}</ion-select-option>
              }
              </ion-select>
            </ion-item>
          </ion-list> -->
        <span class="text-nowrap p-2">Filter by Status</span>
        </div>
      </div>
      
      
      <div>
        <ion-list [inset]="true">
          @for (item of filteredHistory; track $index) {
            <ion-item [button]="true" detail="false" (click)="openDetails(item)">
              <div class="unread-indicator-wrapper" slot="start">
                <!-- <div class="bi bi-pen"></div> -->
              </div>
              <ion-label>
                <strong class="text-uppercase">{{item.type}}</strong>
                <ion-text>{{item.title}}</ion-text><br />
                <ion-note color="medium" class="ion-text-wrap">
                  {{item.status}}
                  <i [ngClass]="getStatusIcon(item.status)" class="ps-1"></i>
                </ion-note>
              </ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-note color="medium">{{item.created_at | date:'dd/MM'}} &bull; {{item.created_at | date: 'HH:mm'}}</ion-note>
                <ion-icon color="medium" name="chevron-forward"></ion-icon>
              </div>
            </ion-item>
          }
        </ion-list>
      </div>
    </section>
  } @else {
    <app-nodata></app-nodata>
  }
} @else {
  <div class="d-flex justify-content-center align-items-center h-100">
        <ion-spinner  name="crescent"></ion-spinner>
      </div>
}
  
<!-- </ion-content> -->