<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="search-header">
      <ion-icon name="arrow-back" class="back-icon"></ion-icon>
      <div class="input-wrapper">
        <ion-searchbar 
          placeholder='Search "paneer"' 
          inputmode="search" 
          (ionInput)="onSearchChange($event)"
          [debounce]="250"
          animated="true"
          showCancelButton="never">
        </ion-searchbar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-light">

  <div *ngIf="isLoading" class="results-container" style="padding-top: 10px;">
    <div class="product-list">
      <div class="p-item" *ngFor="let i of [1,2,3,4,5,6,7,8]">
        <div class="img-box" style="background: #f4f4f4;">
          <ion-skeleton-text animated style="width: 100%; height: 100%; margin: 0;"></ion-skeleton-text>
        </div>
        <div class="info" style="width: 100%; padding-right: 10px;">
          <ion-skeleton-text animated style="width: 70%; height: 16px; border-radius: 4px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%; height: 12px; margin-top: 8px; border-radius: 4px;"></ion-skeleton-text>
          <div style="margin-top: 10px;">
            <ion-skeleton-text animated style="width: 60px; height: 18px; border-radius: 4px;"></ion-skeleton-text>
          </div>
        </div>
        <div class="action-box">
           <ion-skeleton-text animated style="width: 70px; height: 32px; border-radius: 6px;"></ion-skeleton-text>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && query.length === 0">
      <div class="d-flex align-items-center justify-content-center mt-5">
      <!-- <img src="https://cdn-icons-png.flaticon.com/512/6134/6134065.png" alt="No Data"> -->
      <!-- <h3>No items found</h3> -->
      <p>Try searching for 'Milk' or 'Bread'</p>
    </div>
    
    <!-- <div class="section" *ngIf="recentSearches.length > 0">
      <div class="sec-head">
        <h5>Recent Searches</h5>
        <span (click)="clearHistory()">Clear</span>
      </div>
      <div class="history-list">
        <div class="h-item" *ngFor="let item of recentSearches">
          <ion-icon name="time-outline"></ion-icon>
          <span>{{item}}</span>
          <ion-icon name="close-circle-outline" class="remove"></ion-icon>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="sec-head">
        <h5>Trending Categories</h5>
        <ion-icon name="trending-up-outline" color="primary"></ion-icon>
      </div>
      <div class="trending-grid">
        <div class="t-card" *ngFor="let t of trending">
          <img [src]="t.img">
          <span>{{t.name}}</span>
        </div>
      </div>
    </div> -->

  </div>


  <div class="results-container" *ngIf="!isLoading && query.length > 0">
    
    <div class="result-count" *ngIf="results.length > 0">
      Found {{results.length}} results for "{{query}}"
    </div>
    
    <div class="empty-state" *ngIf="results.length === 0">
      <img src="https://cdn-icons-png.flaticon.com/512/6134/6134065.png" alt="No Data">
      <h3>No items found</h3>
      <p>Try searching for 'Milk' or 'Bread'</p>
    </div>

    <div class="product-list">
      <div class="p-item" *ngFor="let p of results">
        
        <div class="img-box">
          <img [src]="p.img">
          <div class="disc" *ngIf="p.discount > 0">{{p.discount}}% OFF</div>
        </div>

        <div class="info">
          <h6>{{p.name}}</h6>
          <small>{{p.weight}}</small>
          <div class="price-box">
            <span class="curr">₹{{p.price}}</span>
            <span class="old" *ngIf="p.discount > 0">₹{{p.oldPrice}}</span>
          </div>
        </div>

        <div class="action-box">
          <button class="add-btn" 
                    *ngIf="p.stock === 0" 
                    disabled
                    style="opacity: 0.7; background-color: #dcdcdc; color: #555; border: none;">
              OUT OF STOCK
            </button>

            <button class="add-btn" 
                    *ngIf="p.stock !== 0 && getQty(p.id) === 0" 
                    (click)="$event.stopPropagation(); increase(p.id)">
              ADD
            </button>

            <div class="qty-counter" *ngIf="p.stock !== 0 && getQty(p.id) > 0">
              <div class="minus" (click)="$event.stopPropagation(); decrease(p.id)">-</div>
              <div class="count">{{ getQty(p.id) }}</div>
              <div class="plus" (click)="$event.stopPropagation(); increase(p.id)">+</div>
            </div>
        </div>

      </div>
    </div>
  </div>

  <div style="height: 100px;"></div>

</ion-content>