<ion-header>
  <ion-toolbar class="pt-4">
    <ion-title class="mt-2">
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>
    <ion-searchbar [placeholder]="placeholder" [value]="searchTerm" (ionInput)="filterServices($event)" class="mb-2"></ion-searchbar>
@if (searchTerm.length == 0) {
  <ion-card-subtitle class="ps-3 mt-4"> <span class="trending bounce-animation" color="white">Trending <img style="width: 20px" src="../../../assets/gif/system-solid-160-trending-up-hover-trend-up.gif" alt="">

  </span></ion-card-subtitle>
  <div class="d-flex w-100">
      <ion-card class="w-50" style="position: relative;">
        <ion-card-header>
          <ion-card-title>Goods</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      <img style="position: absolute; bottom:-15px; right: -10px; width: 85px" src="../../../assets/icon/vecteezy_3d-delivery-truck-3d-delivery-truck-icon-3d-delivery-symbol_47492113.png" alt="">
        <!-- <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content> -->
      </ion-card>
      <ion-card class="w-50" style="position: relative;">
        <ion-card-header>
          <ion-card-title>Small Parcel</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <img style="position: absolute; bottom:-20px; right: -20px; width: 100px" src="../../../assets/icon/vecteezy_3d-delivery-man-character-deivering-package-with-a-scooter_36876830.png" alt="">
  
        <!-- <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content> -->
      </ion-card>
    </div>
} @else {
  @if (filteredServices.length > 0) {
      <ion-card-subtitle class="ps-3 mt-4"> <span class="trending bounce-animation" color="white">Search Results <i class="bi bi-heart-pulse"></i>

  </span></ion-card-subtitle>

<ion-grid class="p-0">
  <ion-row>
    @for (item of filteredServices; track $index) {
      <ion-col class="p-0" [size]="item.width === '100%' ? '6' : '6'">
        <ion-card style="position: relative; cursor: pointer" (click)="navigateTo(item.route)">
          <ion-card-header>
            <div>
              <ion-card-title class="text-truncate">{{ item.title }}</ion-card-title>
            </div>
            <ion-card-subtitle>
              @if (item.offers != 'Nothing') {
                <strong class="offer"><i class="bi bi-tags-fill me-1"></i>{{ item.offers }}</strong>
              } @else {
                <strong>{{ item.subtitle }}</strong>
              }
            </ion-card-subtitle>
          </ion-card-header>

          <!-- Optional Image -->
          <img
            [ngStyle]="item.className"
            [attr.loading]="'lazy'"
            [src]="item.img"
            alt="{{ item.title }}"
          />
        </ion-card>
      </ion-col>
    }
  </ion-row>
</ion-grid>


  } @else {
<app-nodata></app-nodata>
  }
  }