<ion-header>
  <ion-toolbar class="pt-4">
    <ion-title>
      Search
    </ion-title>
    <ion-searchbar [placeholder]="placeholder" class="mb-2"></ion-searchbar>
  </ion-toolbar>
</ion-header>
@if (searchData.length == 0) {
  <ion-card-subtitle class="ps-3 mt-4"> <span class="trending bounce-animation" color="white">Trending <i class="bi bi-arrow-up-right bounce-animation"></i>

  </span></ion-card-subtitle>
  <div class="d-flex w-100">
      <ion-card class="w-50" style="position: relative;">
        <ion-card-header>
          <ion-card-title>Goods</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      <img style="position: absolute; bottom:-15px; right: -10px; width: 85px" src="../../../assets/icon/vecteezy_3d-delivery-truck-3d-delivery-truck-icon-3d-delivery-symbol_47492113.png" alt="">
        <!-- <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content> -->
      </ion-card>
      <ion-card class="w-50" style="position: relative;">
        <ion-card-header>
          <ion-card-title>Small Parcel</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <img style="position: absolute; bottom:-20px; right: -20px; width: 100px" src="../../../assets/icon/vecteezy_3d-delivery-man-character-deivering-package-with-a-scooter_36876830.png" alt="">
  
        <!-- <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content> -->
      </ion-card>
    </div>
}

  @else {
    <app-nodata></app-nodata>
  }