// ::ng-deep.searchbar-input.sc-ion-searchbar-md{
//     border-radius: 20px !important;
//   }

  .trending{
    // background-color: var(--ion-color-primary);
    padding: 5px;
    border-radius: 8px;
    color: var(--ion-color-primary);
    font-weight: bold;
  }

  .bounce-animation {
    animation: bounce 1.5s infinite !important;
  }
  
  @keyframes bounce {
    0%, 100% { transform: translate(0, 0); }
    50%     { transform: translate(-5px, -5px); }
  }
  