


<!-- <app-nodata></app-nodata> -->

@if(!isLoading){
  <ion-header>
  <ion-toolbar class="pt-4">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-refresher slot="fixed" class="my-refresher mt-5" color="dark" (ionRefresh)="getTickets()"
   pullingIcon="arrow-dropdown" refreshingSpinner="crescent">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="mx-2">
  <ion-segment mode="ios" [value]="activeTab">
  <ion-segment-button value="first" content-id="first">
    <ion-label>Your Tickets</ion-label>
  </ion-segment-button>
  <ion-segment-button value="second" content-id="second">
    <ion-label>Raise a Issue</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-segment-view>
  <ion-segment-content id="first">
    @if (tickets.length > 0) {
      <ion-accordion-group expand="inset" value="active" mode="ios" class="mx-0">
  <ion-accordion value="active">
    <ion-item slot="header" color="light">
      <ion-label>Active Tickets ({{openTickets.length}})</ion-label>
    </ion-item>
    @if(openTickets.length > 0){
      <div class="" slot="content">
      @for (item of openTickets; track $index) {
        <ion-item button expand="block" (click)="openItemModal(item)">
      <!-- <div class="unread-indicator-wrapper" slot="start"></div> -->
      <ion-label>
        <ion-text class="text-truncate"> <b>{{item.title}}</b></ion-text><br />
        <ion-note color="medium" class="ion-text-wrap"><span [ngClass]="item.status == 'Open'? 'text-success': 'text-danger'"><b>{{item.status}}</b></span> &bull; <b>{{item.ticket_id}}</b> &bull; {{item.created_at | date:'short'}}</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <!-- <ion-note color="medium">{{item.created_at}}</ion-note> -->
        <!-- <ion-icon color="medium" name="chevron-forward"></ion-icon> -->
      </div>
    </ion-item>
      }
    </div>
    } @else {
      <div class="ion-padding" slot="content">
      <div>
        <p class="text-center">No tickets to show</p>
      </div>
    </div>
    }
  </ion-accordion>
  <ion-accordion value="closed">
    <ion-item slot="header" color="light">
      <ion-label>Closed Tickets ({{closedTickets.length}})</ion-label>
    </ion-item>
    @if(closedTickets.length > 0){
      <div class="" slot="content">
      @for (item of closedTickets; track $index) {
        <ion-item button expand="block" (click)="openItemModal(item)">
      <!-- <div class="unread-indicator-wrapper" slot="start"></div> -->
      <ion-label>
        <ion-text class="text-truncate"> <b>{{item.title}}</b></ion-text><br />
        <ion-note color="medium" class="ion-text-wrap"><span [ngClass]="item.status == 'Open'? 'text-success': 'text-danger'"><b>{{item.status}}</b></span> &bull; <b>{{item.ticket_id}}</b> &bull; {{item.created_at | date:'short'}}</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <!-- <ion-note color="medium">{{item.created_at}}</ion-note> -->
        <!-- <ion-icon color="medium" name="chevron-forward"></ion-icon> -->
      </div>
    </ion-item>
      }
    </div>
    } @else {
        <div class="ion-padding" slot="content">
      <div>
        <p class="text-center">No tickets to show</p>
      </div>
    </div>
    }
    
  </ion-accordion>
</ion-accordion-group>
    } @else {
      <app-nodata></app-nodata>
    }
  </ion-segment-content>

  <ion-segment-content id="second">
    @if (!raiseTicket) {
      <ion-accordion-group expand="inset" mode="ios">
  @for (item of faqs; track $index) {
    <ion-accordion [value]="$index">
    <ion-item slot="header" color="light">
      <ion-label>{{item.question}}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">{{item.answer}}</div>
  </ion-accordion>
  }
</ion-accordion-group>
<div class="text-center mb-5">did't get the answer? <span class="text-primary" (click)="raiseTicket = true">Raise a Ticket</span></div>
    } @else {
       <ion-list class="text-area mx-4 mt-4">
  <ion-item class="suggestion" lines="none">
    <ion-input placeholder="Issue Title" [(ngModel)]="title" value=""></ion-input>
  </ion-item>
</ion-list>
    <ion-item class="text-area mx-4 mt-4" lines="none">
  <ion-textarea
    class="suggestion"
    placeholder="Detailed Issue"
    [autoGrow]="true"
    appearance = "outline"
    [(ngModel)]="details"
  >
  </ion-textarea>
</ion-item>
<div class="my-3 mx-4">
  <ion-button class="book-btn w-100" mode="ios" color="dark" [disabled]="title.length < 5 || details.length < 5 || isCreating" (click)="createTicket()">Submit
    @if (isCreating) {
        <div class="loader-state">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Raising Ticket...</p>
    </div>
}
  </ion-button>
</div>
<div class="text-center mb-5"> <span class="text-primary" (click)="raiseTicket = false">back to FAQS</span></div>
    }
  </ion-segment-content>
</ion-segment-view>

<ion-toast
    [isOpen]="isToastOpen"
    [message]="toastMessage"
    [duration]="3000"
  ></ion-toast>

</div>
} @else {
  <div class="d-flex justify-content-center align-items-center h-100">
        <div class="loader-state">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Getting Support Ready...</p>
    </div>
      </div>
}