<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="gotoSearch()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-light">

  <div class="hero-banner" [style.background]="categoryInfo.color">
    <div class="text-content">
      <h5>Fresh Picks</h5>
      <h2>{{categoryInfo.name}}</h2>
      <span class="offer-badge">{{categoryInfo.offerText}}</span>
    </div>
    <div class="img-content">
      <img [src]="categoryInfo.bannerImg" />
    </div>
  </div>

  <div class="filter-scroll">
    <div 
      class="chip" 
      *ngFor="let f of filters" 
      [class.active]="selectedFilter === f"
      (click)="setFilter(f)">
      {{f}}
    </div>
  </div>

  <div class="product-grid">
    <div class="product-card" *ngFor="let p of products" (click)="goToDetails(p)">
      
      <div class="img-box">
        <img [src]="p.img" />
        <span class="discount-tag" *ngIf="p.discount > 0">{{p.discount}}% OFF</span>
      </div>

      <div class="details">
        <div class="time-row">8 mins</div>
        <div class="name">{{p.name}}</div>
        <div class="weight">{{p.weight}}</div>

        <div class="price-action">
          <div class="prices">
            <span class="curr">₹{{p.price}}</span>
            <span class="old" *ngIf="p.discount > 0">₹{{p.originalPrice}}</span>
          </div>

          <div class="action-btn">
            <button class="add-btn" 
                    *ngIf="p.stock === 0" 
                    disabled
                    style="opacity: 0.7; background-color: #dcdcdc; color: #555; border: none;">
              OUT OF STOCK
            </button>

            <button class="add-btn" 
                    *ngIf="p.stock !== 0 && getQty(p.id) === 0" 
                    (click)="$event.stopPropagation(); increase(p.id)">
              ADD
            </button>

            <div class="qty-counter" *ngIf="p.stock !== 0 && getQty(p.id) > 0">
              <div class="minus" (click)="$event.stopPropagation(); decrease(p.id)">-</div>
              <div class="count">{{ getQty(p.id) }}</div>
              <div class="plus" (click)="$event.stopPropagation(); increase(p.id)">+</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div style="height: 100px;"></div>

</ion-content>
