
<ion-content [fullscreen]="true">
  <style>
  .background {
    background: #2A7B9B;
background: radial-gradient(circle, rgba(42, 123, 155, 0) 0%, rgba(139, 173, 204, 0) 38%, rgba(237, 221, 83, 0.92) 100%);
}
</style>
  <div class="background p-4 h-100">
    <div class="h-50 d-flex align-items-center justify-content-center">
      <div class="">
        <div class="d-flex justify-content-center">
          <img src="../../../assets/icons/vecteezy_young-delivery-man-in-a-yellow-uniform-flying-to-deliver-an_55983285.png" style="height: 200px" alt="">
        </div>
      <h1 class="text-center" style="font-weight: 1000; font-size: 40px">FREE DELIVERY</h1>
      <h5 class="text-center">orders above 199</h5>
      <div class="w-100">
        <ion-button class="ion-padding w-100" color="dark" size="small" (click)="closeModal()">Got it!</ion-button>
      </div>
      </div>
    </div>
  </div>
</ion-content>