<ion-header class="ion-no-border bg-white pt-2">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="fw-bold text-dark">Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button (click)="razorpayServiceOpen()">Pay via UPI</ion-button>
<ion-list *ngIf="upiApps">
  <ion-item *ngFor="let app of upiApps; trackby" (click)="payWith(app.id)">
    <ion-avatar slot="start">
      <img [src]="getIcon(app.icon)" />
    </ion-avatar>
    <ion-label>{{ app.displayName }}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
