
  <ion-content class="ion-padding">
    <div class="d-flex justify-content-center">
      <div class="w-100 h-75 d-flex justify-content-center mt-5">
        <div class="logo">
            <strong>ONE</strong>APP
        </div>
    </div>
    <div class="position-fixed mt-4 d-flex justify-content-center w-100" style="bottom: 10vh">
@if (!isLoading) {
  <ion-button class="ion-padding w-75 text-nowrap" color="dark" (click)="openLogin()">Get Started</ion-button>
} @else {
  <div class="text-center">
    <ion-spinner  name="crescent"></ion-spinner>
    <p>{{loadingMessage}}</p>
    
     {{appVersion}}
  </div>
  
}

</div>

    </div>

  </ion-content>