.bottom-nav{
    border: 1px solid gray;
    width: auto;
    border-radius: 50px;
    align-items: center !important;
}

.logo{
    color: white;
    background-color: black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:larger;
    margin-top: 50px;
    border-radius: 10px;
}